PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE patients (
                id TEXT PRIMARY KEY,
                name TEXT NOT NULL,
                email TEXT,
                phone TEXT,
                birth_date TEXT,
                address TEXT,
                notes TEXT,
                created_at TEXT NOT NULL,
                updated_at TEXT NOT NULL
            );
CREATE TABLE appointments (
                id TEXT PRIMARY KEY,
                patient_id TEXT NOT NULL,
                date TEXT NOT NULL,
                time TEXT NOT NULL,
                status TEXT NOT NULL,
                notes TEXT,
                created_at TEXT NOT NULL,
                updated_at TEXT NOT NULL,
                FOREIGN KEY (patient_id) REFERENCES patients (id)
            );
CREATE TABLE documents (
                id TEXT PRIMARY KEY,
                patient_id TEXT NOT NULL,
                appointment_id TEXT,
                filename TEXT NOT NULL,
                file_type TEXT,
                file_size INTEGER,
                encrypted BOOLEAN NOT NULL DEFAULT 1,
                content_hash TEXT,
                created_at TEXT NOT NULL,
                updated_at TEXT NOT NULL,
                FOREIGN KEY (patient_id) REFERENCES patients (id),
                FOREIGN KEY (appointment_id) REFERENCES appointments (id)
            );
CREATE TABLE document_content (
                document_id TEXT PRIMARY KEY,
                encrypted_content BLOB NOT NULL,
                nonce BLOB NOT NULL,
                tag BLOB NOT NULL,
                FOREIGN KEY (document_id) REFERENCES documents (id)
            );
CREATE TABLE audit_logs (
                id TEXT PRIMARY KEY,
                user_id TEXT NOT NULL,
                user_email TEXT NOT NULL,
                action TEXT NOT NULL,
                resource_type TEXT NOT NULL,
                resource_id TEXT,
                description TEXT,
                ip_address TEXT,
                user_agent TEXT,
                created_at TEXT NOT NULL
            );
CREATE TABLE sync_status (
                id INTEGER PRIMARY KEY,
                last_sync TEXT,
                sync_type TEXT NOT NULL,
                status TEXT NOT NULL,
                records_synced INTEGER DEFAULT 0,
                errors TEXT,
                created_at TEXT NOT NULL
            );
CREATE TABLE oplog (
                id TEXT PRIMARY KEY,
                entity_type TEXT NOT NULL,
                entity_id TEXT NOT NULL,
                operation TEXT NOT NULL,
                payload_hash TEXT NOT NULL,
                origin_device_id TEXT NOT NULL,
                op_seq INTEGER NOT NULL,
                local_ts TEXT NOT NULL,
                committed BOOLEAN NOT NULL DEFAULT 0,
                server_rev INTEGER
            );
CREATE TABLE sync_state (
                table_name TEXT PRIMARY KEY,
                last_pulled_rev INTEGER NOT NULL DEFAULT 0,
                last_sync_at TEXT NOT NULL
            );
CREATE TABLE conflicts (
                id TEXT PRIMARY KEY,
                entity_type TEXT NOT NULL,
                entity_id TEXT NOT NULL,
                local_data TEXT NOT NULL,
                server_data TEXT NOT NULL,
                conflict_type TEXT NOT NULL,
                recommended_action TEXT NOT NULL,
                created_at TEXT NOT NULL,
                resolved BOOLEAN NOT NULL DEFAULT 0
            );
CREATE INDEX idx_patients_name ON patients (name);
CREATE INDEX idx_patients_email ON patients (email);
CREATE INDEX idx_appointments_date ON appointments (date);
CREATE INDEX idx_appointments_patient ON appointments (patient_id);
CREATE INDEX idx_documents_patient ON documents (patient_id);
CREATE INDEX idx_audit_logs_user ON audit_logs (user_id);
CREATE INDEX idx_audit_logs_created ON audit_logs (created_at);
COMMIT;
